/* App.css */
.card {
    box-shadow: 0
  }
  
  .columns {
    margin-bottom: 0;
  }
  
  .column {
    display: 0;
    justify-content: left;
  }
  
  .subtitle {
    margin-bottom: rem;
  }
  
  .expense-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .expense-item:last-child {
    border-bottom: none;
  }

  table {
    width: 100%; 
    box-sizing: border-box;
    border-collapse: collapse;
  }

  table thead th {
    padding: 10px; 
    margin: 0;     
  }

  /* App.css */
.table-container {
    border-radius: 30px;
    height: 650px;
    padding: 0 10px 10px 10px;
    overflow: scroll;
    padding: 0 1em; 
}


table thead{
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 10; 
  opacity: 1;
  transform: translateZ(0) scale(1);
  height: 25px;  
  line-height: 25px;
}
  
  