/* App.css */
.card {
    box-shadow: 0
  }
  
  .columns {
    margin-bottom: 0;
  }
  
  .column {
    display: 0;
    justify-content: center;
  }
  
  .subtitle {
    margin-bottom: rem;
  }
  
  .expense-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .expense-item:last-child {
    border-bottom: none;
  }

  /* App.css */
.table-container {
  display: flex;
  justify-content: center;
}

.table {
  margin: 0 auto; /* Ensures the table itself is centered */
}

  
  