html, body, #root {
  height: 100%;
  margin: 0; 
  padding: 0; 
}



#page-content{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }

.container {
  flex-grow: 1;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  footer {
    font-size: 0.8rem; /* Smaller font size for mobile */
  }
}